<div>
    <div class="modal-header">
        <div class="modal-title">
            <p class="lead">
                {{vm.tasksProjectName}}
               <span class="pull-right">
                   <button class="btn btn-primary blue" ng-click="vm.Create(vm.projectId)"><i class="fa fa-plus"></i> @L("Create")</button>
                   <button class="btn btn-default" ng-click="vm.Cancel()">X</button>
               </span>        
            </p>
        </div>
        
    </div>

    <div class="portlet light">
        <div class="portlet-title">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form class="ng-pristine ng-valid">
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.Filter()" class="btn btn-default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="portlet-body">
            <div busy-if="vm.loading">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @L("Queue")
                            </th>
                            <th>
                                @L("Name")
                            </th>
                            <th>
                                @L("Creator")
                            </th>
                            <th>
                                @L("Agent")
                            </th>
                            <th>
                                @L("AssignTime")
                            </th>                           
                            <th>
                                @L("EstimatedDays")
                            </th>
                            <th>
                                @L("ClosingTime")
                            </th>
                            <th>
                                @L("OverDue")
                            </th>                           
                            <th>
                                @L("TaskLogCount")
                            </th>
                            <th>
                                @L("Status")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in vm.tasks">
                            <td><a href="#" ng-click="vm.View(task.id)">{{task.id}}</a></td>
                            <td>{{task.taskName}}</td>
                            <td>{{task.creatorUserName}}</td>
                            <td>{{task.agentUserName}}</td>
                            <td>{{task.assignTime | date:'short'}}</td>
                            <td>{{task.estimatedDays}}</td>
                            <td>{{task.closingTime | date:'short'}}</td>                          
                            <td><span class="label label-sm label-success" ng-class="{'label-danger': task.overDue > 0, 'label-warning': task.overDue == 0 || task.overDue == -1}">{{task.overDue}}</span></td>
                            <td><a href="#" ng-click="vm.ViewTaskLogs(task.id)"><span class="badge">{{task.taskLogCount}}</span></a></td>
                            <td><span class="label label-sm label-success" ng-class="{'label-danger': task.isOpen }">{{vm.Localize(task.statusText)}}</span></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">
                                        @L("Actions") <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#" ng-click="vm.Update(task)">@L("Update")</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-if="task.overDue >= 0" ng-click="vm.Poke(task.id)">@L("Poke")</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="vm.Delete(task.id)">@L("Delete")</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

